:root {
    --color-light: #f8f8f8;
    --color-dark: #1e1b18;
    --first-color: #85014e;
    --second-color: #ff2f47;
    --third-color: #148ab5;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700&display=swap');
  

  * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
  }

 

  /*NAVBAR BAR */

.pic2 {
    padding-left: 5%;
}
#btn {
    background-color: var(--first-color);
    border: none;
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 1rem;
    transition: transform 0.3s ease-in-out;
}
    
button.active{
    transform: translateX(-215px);
    
}
#nav{
    background-color: var(--first-color);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 2rem;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}
#nav.active{
    transform: translateX(0);
}
#nav ul{
    padding: 0;
    list-style-type: none;
    margin: 0;
}
#nav ul li{
    padding: 1rem 0;
}
#nav a{
    font-family: "Nunito Sans";
    color: white;
    text-decoration: none;
    font-weight: bold;
}
#nav a:hover{
    color: #000000;
    transition: 0.5s;
}

@media screen and (max-width: 600px) {
    .desktop {
        display: none;
    }
    
}

/* Header Christian */

/* ---------------- Header Christian ---------------- */

header {
    background-image: url("/assets/images/bruce-mars-FWVMhUa_wbY-unsplash.jpg");
    background-position: top -50px;
    background-size: 130%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    min-height: 90vh;
    padding: 2rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1.2rem;
    margin-left: 0vw;
    color: var(--color-light);
    text-shadow: 10px 2px 15px var(--color-dark);
    padding: 10px;
}


@media screen and (min-width: 1200px) {
    h1 {
        display: flex;
        justify-content: center;
        font-size: 5rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    width: 90%;
}


@media screen and (max-width: 600px) {
    form {
        width: 70%;
    }
    header {
        background-size: 400%;
        background-repeat:repeat;
    }

    h1 {
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        font-weight: 700;
        text-align: start;
        margin-bottom: 1rem;
        color: var(--color-light);
        text-shadow: 10px 2px 15px var(--color-dark);
        padding: 1px;
    }

}

@media screen and (min-width: 600px) and (max-width: 1199px){
    form {
        width: 70%;
    }
    header {
        background-size: 350%;
    }

}

/* SOCIAL MEDIA */

.social {
    display: flex;
    justify-content: center;

}

.facebook2 {
    background-image: url(/assets/images/facebook.svg);
    background-repeat: no-repeat;
    padding: 1vw;
    margin: 0.5vw;
    width: 42px;
    height: 42px;
}

.twitter2 {
    background-image: url(/assets/images/twitter.svg);
    background-repeat: no-repeat;
    padding: 1vw;
    margin: 0.5vw;
    width: 42px;
    height: 42px;
}

.linkedin2 {
    background-image: url(/assets/images/linkedin.svg);
    background-repeat: no-repeat;
    padding: 1vw;
    margin: 0.50vw;
    width: 42px;
    height: 42px;
}

.fleche {
    display: flex;
    justify-content: center;
    margin-left: 13.5vw;
}

.socialp {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    font-weight: 700;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    color: #fafafa;
}

@media screen and (max-width: 600px) {
    .facebook2 {
        display: inline-block;
        background-repeat: no-repeat;
        width: 42px;
        height: 42px;
        margin: 0 6px;
        
    }
    .twitter2 {
        display: inline-block;
        background-repeat: no-repeat;
        width: 42px;
        height: 42px;
        margin: 0 6px;
    }
    .linkedin2 {
        display: inline-block;
        background-repeat: no-repeat;
        width: 42px;
        height: 42px;
        margin: 0 6px;
    }

    .socialp {
        margin-bottom: 10px;
    }


}

/* SOCIAL MEDIA /*


/* Desktop BLOC */


    .numberphone {
       display: flex;
       font-family: 'Raleway', sans-serif;
       color: #000000;
    }

    .paris1 {
        width: 42px;
        height: 42px;
        margin: -05px;
    }


    @media screen and (min-width: 1200px) {

        .siege {
            display: flex;
            margin-bottom: 10px;
            justify-content: center;
        }

        .paristext {
            display: flex;
            margin: 10px;
            font-family: 'Raleway', sans-serif;
            color: #1d1d1d;
        }

        .phone {
            display: flex;
            justify-content: center;
            
        }

        .numberphone {
            margin: 10px;
        }

        .cake {
            width: 60%;
            margin-left: 0vw;
            background-color: #f2f2f2;
            border-radius: 10px;
            border-width: 0.1px;
            border-color: #1b1b1b;
            border-style:solid;
        }

    }

    @media screen and (max-width: 600px) {
        .paristext {
            font-family: 'Raleway', sans-serif;
            color: #1d1d1d;
        }

        .paris1 {
            width: 42px;
            height: 42px;
            margin: -05px;
        }

        .cake {
            display: flex;
            width: 100%;
            padding: 4vw;
            border: 1vw;
            border-radius: 10px;
            border-color: #000000;
            background-color: #f2f2f2;
        }
    }




/*Desktop BLOC */

/* ---------------- Header Christian ---------------- */

/*-------------Form pro Corentin (Mobile)------------*/

@media screen and (max-width: 600px) {

input[type=text], select, textarea {
    width: 140%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    resize: vertical 
  }
  
  
  input[type=submit] {
    background-color: #85014e;
    color: white;
    padding: 12px 20px;
    width: 140%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #ad0d8b;
  }
  
 
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  label {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
  }

  li.popular-category{
      list-style: none; 
      display:inline-block; 
      padding: 0.3rem;
      
    }

}

/*-------------Form pro Corentin(Mobile)------------*/

/*-------------Form pro Corentin (Desktop)------------*/

@media screen and (min-width: 1200px) {

    input[type=text], select, textarea {
        width: 110%; 
        padding: 12px; 
        border: 1px solid #ccc; 
        border-radius: 4px; 
        box-sizing: border-box; 
        margin-top: 6px; 
        margin-bottom: 16px;
        resize: vertical 
      }
      
      
      input[type=submit] {
        background-color: #85014e;
        color: white;
        justify-items: center;
        width: 110%;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: 0.4s;
      }
      
      
      input[type=submit]:hover {
        background-color: #ad0d8b;
      }
      
     
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        display: flex;
        width: 100%;
        
        
      }
    
      label {
        font-family: 'Raleway', sans-serif;
        font-size: 0.9rem;
      }
    
      li.popular-category{
          list-style: none; 
          display:inline-block; 
          padding: 0.3rem;
          
        }
    
    }
    
    /*-------------Form pro Corentin(Desktop)------------*/

    /*-------------Form pro Corentin (Tablette)------------*/

    @media all and (min-width: 600px) and (max-width: 1199px) {

        input[type=text], select, textarea {
            width: 140%; 
            padding: 12px; 
            border: 1px solid #ccc; 
            border-radius: 4px; 
            box-sizing: border-box; 
            margin-top: 6px; 
            margin-bottom: 16px;
            resize: vertical; 
          }
          
          
          input[type=submit] {
            background-color: #85014e;
            color: white;
            padding: 12px 20px;
            width: 140%;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            
          }
          
          
          input[type=submit]:hover {
            background-color: #ad0d8b;
            
          }
          
         
          .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
          }
        
          label {
            font-family: 'Raleway', sans-serif;
            font-size: 0.9rem;
          }
        
          li.popular-category{
              list-style: none; 
              display:inline-block; 
              padding: 0.3rem;
              
            }
        
        }
    
    /*-------------Form pro Corentin(Tablette)------------*/

/* Footer */
 
footer{
 
    background-color: var(--first-color);
    position:flex;
    bottom:0;
    width:100%;
    padding-top:50px;
    height: auto;
}
footer h4 {
    padding-left: 7vw;
    font-family: "Nunito Sans";
    font-size: 25px;
}
footer ul{
    display: flex;
    justify-content: center;
}
 
 
footer li {
    list-style-type: none;
    font-family: "Nunito Sans";
 
}
footer li a{
    font-family: "Nunito Sans";
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: white;
 
}
footer li a:hover{
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
}
footer span{
    display: block;
    text-align: center;
    padding-top: 2vh;
}
 
@media screen and (min-width: 600px){
    #btn,#nav  {
        display:none;
    }
    .desktop{
        top: 0;
        visibility: visible;
        display: flex; 
        height: 10vh;
        width: 100%;
        background-color: var(--first-color);    
    }
    .desktop ul{
        display: flex;
        margin: 0;
        align-items: center; 
    }
    .desktop ul li{
        margin-right: -1vw;
        list-style-type: none;
        width: 22vw;
    }
    .desktop ul li a {
        font-family: "Nunito Sans";
        text-decoration: none;
        display: flex;
        flex-direction: column;
        color: #ccc;
        font-size: 20px;
        font-weight: bold;
    }
    .desktop ul li a:hover{
        color: #000000;
        transition: 0.5s;
    }
    .pic1{
        padding-right: 5vw;
    }
 
footer{
 
    background-color: var(--first-color);
    /*display:flex;*/
    bottom:0;
    /* width:100%; */
    padding-top:50px;
    height: auto;
}
footer h4 {
 
    font-family: "Nunito Sans";
    font-size: 25px;
    text-align: center;
    color: white;
}
footer ul{
    padding-left: 8vw;
}
footer img {
    padding-right: 1.5vw;
    width: 3vw;
}
footer li {
    list-style-type: none;
    font-family: "Nunito Sans";  
}
footer li a{
    font-family: "Nunito Sans";
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    color: white;    
}
footer li a:hover{
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
}
footer span {
    display: block;
    padding-left: 8vw;
    padding-top: 2vh;
}
.menu{
    display: flex;
    justify-content: space-around;
}
}
.wrap h4 {
    text-align: center;
    margin-bottom: 3vh;
}
.wrap img{
    width: 80px;
    height: 80px;  
}
.menu{
    visibility: hidden;
}
footer li a:hover{
    cursor: pointer;
    color: #000000;
    transition: 0.5s;
}