@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-light: #F8F8F8;
    --color-dark: #1E1B18;
    --first-color: #85014E;
    --second-color: #FF2F47;
    --third-color: #148AB5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 2rem;
    height: 100vh;
}

/* ---------------- Listing articles Christian ---------------- */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.8rem;
    color: var(--second-color);
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 4rem;
    }
}

.result {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    padding-top: 0.2rem;
}

@media screen and (min-width: 1200px) {
    .result {
        font-size: 1.6rem;
    }
}


.box-article {
    margin-bottom: 2rem;
    height: auto;
}

@media screen and (min-width: 1200px) {
    .box-article {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        margin-bottom: 2.5rem;
    }
}


.section-articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin-top: 2rem;
}

.box-img-article {
    position: relative;
    width: 100%;
}

.img-article {
    position: relative;
    width: 100%;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 0.3rem;
}

@media screen and (min-width: 1200px) {
    .img-article {
        min-height: 370px;
    }
}

.new-article {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    position: absolute;
    top: 1.3rem;
    left: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    background-color: var(--second-color);
    color: var(--color-light);
    height: 1rem;
    padding: 1.2rem;
    border-radius: 5px;
}

.heart {
    position: absolute;
    color: var(--color-light);
    z-index: 10;
    font-size: 2.5rem;
    top: 1.3rem;
    right: 1.3rem;
    text-shadow: 1px 1px 3.5px var(--color-dark);
}

.heart:first-child:hover {
    color: var(--second-color);
}

.circles {
    display: flex;
    justify-content: space-around;
    position: absolute;
    z-index: 10;
    font-size: 1rem;
    color: var(--color-light);
    bottom: 0.9rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circles>i {
    opacity: 0.5;
}

.circles>i:first-child {
    opacity: 1;
}

.circles>i {
    margin: 0 0.3rem;
}

.box-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    padding: 0 0.8rem 0 1.6rem;
    font-family: 'Raleway', sans-serif;
}

.place-dispo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

@media screen and (min-width: 1200px) {
    .place-dispo {
        display: flex;
        flex-direction: column;
    }    
}


h3,.disponible {
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: var(--color-dark);
    font-size: 1.4rem;
    font-weight: 700;
}


@media screen and (min-width: 1200px) {
    h3 {
        font-size: 1.7rem;
    }
}


.disponible {
    color: var(--third-color);
    font-size: 1.3rem;
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .disponible {
        margin-top: 0.5rem;
    }
}

.resume {
    display: flex;
    flex-direction: column;
    color: var(--color-dark);
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0;
    line-height: 1.3rem;
    text-align: start;
}

.resume-desktop {
    display: none;
}

@media screen and (min-width: 1200px) {
    .resume-desktop {
        display: contents;
    }
}

.btn-cta {
    background-color: var(--first-color);
    padding: 10px;
    width: 15vh;
    text-align: center;
    border-radius: 5px;
    color: var(--color-light);
}

.btn-cta:hover {
    opacity: 0.8;
}

.stars {
    color: var(--second-color);
}

.comment {
    display: none;
    padding-bottom: 0.6rem;
}

@media screen and (min-width: 1200px) {
    .comment {
        display: contents;
        display: flex;
        align-items: center;
    }
}

.comment>p {
    font-size: 1.2rem;
    margin-left: 0.5rem;
    /* color: var(--color-dark); */
}

.comment-important {
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .comment-important {
        padding-left: 5px;
    }
}


@media screen and (min-width: 1200px) {
    .box-star-comment {
        display: flex;
        padding-left: 15px;
    }
}

.pages-numbers {
    width: 100%;
    display: flex;
    padding: 0.5rem;
    flex-direction: row;
    justify-content: center;
}

.pages-numbers ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.pages-numbers ul li {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    color: var(--color-dark);
    margin: 0 1.3rem;
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .pages-numbers ul li {
        font-size: 1.3rem;
    }
}


.pages-numbers ul li:first-child {
    opacity: 0.3;
}

.pages-numbers a {
    color: var(--color-dark);
    text-decoration: none;
}

.pages-numbers a:hover {
    color: var(--color-light);
    font-weight: 700;
    width: 32px;
    height: 32px;
    padding: 10px 15px;
    border-radius: 50%;
    background-color: #85014E;
}

.others-articles {
    padding: .5rem 1rem;
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    padding-bottom: 50px;
}

@media screen and (min-width: 1200px) {
    .others-articles {
        font-size: 1rem;
    }
}


.important {
    color: var(--second-color);
    font-weight: 700;
    margin: 0 0.5rem;
}